/* layout.css */
.app-layout {
  min-height: 100vh;
}

.layout-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 0; /* Start with no margin */
  transition: margin-left 0.3s ease;
}

/* When sidebar is open */
.main-content.sidebar-open {
  margin-left: 300px; /* Width of the sidebar */
}

/* styles/sidebar.css */

.sidebar.open {
  transform: translateX(0);
}

/* Adjustments for mobile */
@media (max-width: 768px) {
  .main-content.sidebar-open {
    margin-left: 0;
  }
  
  .sidebar {
    width: 100%;
    max-width: 300px;
  }
}